/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pacifico&family=Paytone+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Général */
*{
    font-family: "Open Sans", sans-serif;
}

/* Footer */

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 40px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap:30px;
    padding: 0px 0px 0px 270px;
}

header img{
    max-width: 350px;
}

header nav ul a{
    color:#000;
    text-decoration: none;
}

header nav ul a:hover,
header nav ul .opt1{
    color:#30CD8A;
}

header nav ul .opt4{
    color: #E34E67;
}

header nav ul .opt1:hover{
    color: #000;
}

header nav ul .opt4:hover{
    color: #000;
}

/* Main */

.sec1{
    display: flex;
    max-width: 1440px;
    padding: 80px 150px;
    margin: auto;
    align-items: center;
}

.premier{
    font-family: "Pacifico", cursive;
    font-size: 23px;
    color: rgb(255, 120, 120);
    margin: 0;
}

.deuxeme{
    font-family: "Oswald", sans-serif;
    color: #423B73;
    font-size: 38px;
    margin: 0;
    width: 70%;
}

.p3{
    padding: 24px 0;
    font-size: 16px;
    color: #423B73;
    width: 70%;
}

.a1{
    font-family: "Kanit", sans-serif;
    font-size: 23px;
    border: 1px solid #30CD8A;
    padding: 6px 28px;
    width: fit-content;
    border-radius: 10px;
    color: #30CD8A;
    text-decoration: none;
    background-color: #30CD8A;
    color: white;
}

.a1:hover{
    color: #30CD8A;
    background-color: white;
}

.a2{
    font-family: "Kanit", sans-serif;
    font-size: 23px;
    border: 1px solid #30CD8A;
    padding: 6px 28px;
    width: fit-content;
    border-radius: 10px;
    color: #30CD8A;
    text-decoration: none;
    margin-left: 30px;
}

.a2:hover{
    color: white;
    background-color: #30CD8A;
}

.sec2{
    background-color: #1E1D31;
    padding: 80px 0;
}

.sec2 > div{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sec2 article{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 30px;
    gap: 15px;
}

.sec2 h2{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #30CD8A;
    line-height: 1.5;
    font-size: 16px;
}

.sec2 p{
    color: #ffffff;
}

.sec2 a{
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    fill: #30CD8A;
    color: #30CD8A;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
    padding: 13px 30px;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    grid-column: 1 / 3;
    margin: auto;
}

.sec2 a:hover{
    color: #fff;
    background-color: #30CD8A;
}

.sec3{
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 80px;
}

.sec3div1{
    max-width: 1440px;
}

.sec3div1{
    width: 100%;
}

.sec3div2{
    padding: 10px;
}

.sec3div2{
    max-width: 650px;
}

.sec3prt1{
    width: 100%;
}


.art1{
    width: 100%;
}


.div1art1{
    padding: 10px;
}


.div2art1{
    text-align: center;
}


.h1sec3{
    color: #e34e67;
    font-family: "Pacifico", Sans-serif;
    font-size: 23px;
    font-weight: 400;
}

.div3art1{
    text-align: center;
    margin: -16px 0 10px;
}

.h2sec3{
    color: #423b73;
    font-family: "Oswald", Sans-serif;
    font-size: 38px;
    font-weight: 700;
}

.div4art1{
    text-align: center;
    margin: 0;
}

.p1art1{
    box-sizing: border-box;
}

.sec3prt2{
    width: 100%;
}

.prt2div1{
    max-width: 1140px;
}

.prt2div2{
    --widgets-spacing: 20px;
}

.prt2div3{
    display: flex;
}

.prt2div4{
    width: 100%;
}

.prt2div5{
    box-sizing: border-box;
}

.prt2div6{
    text-align: left;
    flex-direction: row;
}

.elementor-image{
    width: 26%;
}


.img1{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.prt2div7{
    width: 100%;
}

.elementor-image-titre{
    margin-bottom: 3px;
    color: #423b73;
    font-family: "Oswald", Sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: none;
}

.elementor-image-para{
    color: #30cd8a;
}

.prt2div8{
    color: #fff;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-description-1{
    background-color: #1e1d31;
    border-radius: 24px;
    padding: 40px;
}

.p2prt2tte{
    margin: 0;
}

.elementor-column{
    padding: 31px;
}

.elementor-element{
    margin-bottom: 20px;
}

.elementor-widget-containe{
    align-items: center;
}

.elementor-image-box-img{
    width: 26%;
}

.elementor-image-box-content{
    width: 100%;
}

.elementor-image-box-title{
    margin-bottom: 3px;
    color: #423b73;
    font-family: "Oswald", Sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: none;
}

.ptest{
    color: #30cd8a;

}

.p3prt3ttest{
    margin: 0;
    color: #fff;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #1e1d31;
    border-radius: 24px;
    padding: 40px;
}

/* Footer */

footer{
    background-color:   #363450;
;
}

footer div{
    max-width: 1440px;
    margin: auto;
    padding: 20px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 35px;
    color: white;
}

footer div a{
    color: white;
    text-decoration: none;
}

footer div a:hover{
    color: #000;
}

footer div ul{
    list-style: none;
    padding: 20px 0;
    display: grid;
    gap: 20px;
}

footer h2{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

footer div p{
    padding: 20px 0;
}

footer .copyright{
    color: #423B73;
    text-align: center;
    background-color: white;
    padding: 16px 0;
}