/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pacifico&family=Paytone+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Général */
*{
    margin:0;
    font-family: "Open Sans", sans-serif;
}

/* Footer */

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 40px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap:30px;
    padding: 0px 0px 0px 270px;
}

header img{
    max-width: 350px;
}

header nav ul a{
    color:#000;
    text-decoration: none;
}

header nav ul a:hover,
header nav ul .opt1{
    color:#30CD8A;
}

header nav ul .opt4{
    color: #E34E67;
}

header nav ul .opt1:hover{
    color: #000;
}

header nav ul .opt4:hover{
    color: #000;
}

/* Main */

.sec1{
    display: flex;
    max-width: 1440px;
    padding: 80px 150px;
    margin: auto;
    align-items: center;
}

main h1{
    font-family: "Pacifico", cursive;
    font-size: 23px;
    color: rgb(255, 120, 120);
}

main h2{
    font-family: "Oswald", sans-serif;
    color: #423B73;
    font-size: 38px;
}

main p{
    padding: 24px 0;
    font-size: 16px;
    color: #423B73;
}

.a1{
    font-family: "Kanit", sans-serif;
    font-size: 23px;
    border: 1px solid #30CD8A;
    padding: 6px 28px;
    width: fit-content;
    border-radius: 10px;
    color: #30CD8A;
    text-decoration: none;
    background-color: #30CD8A;
    color: white;
}

.a1:hover{
    color: #30CD8A;
    background-color: white;
}

.a2{
    font-family: "Kanit", sans-serif;
    font-size: 23px;
    border: 1px solid #30CD8A;
    padding: 6px 28px;
    width: fit-content;
    border-radius: 10px;
    color: #30CD8A;
    text-decoration: none;
    margin-left: 30px;
}

.a2:hover{
    color: white;
    background-color: #30CD8A;
}

.sec2{
    background-color: #1E1D31;
    padding: 80px 0;
}

.sec2 > div{
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sec2 article{
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 30px;
    gap: 0px;
}

.sec2 h2{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #30CD8A;
    line-height: 1.5;
    font-size: 16px;
}

.sec2 p{
    color: #ffffff;
}

.sec2 a{
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    fill: #30CD8A;
    color: #30CD8A;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
    padding: 13px 30px;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    grid-column: 1 / 3;
    margin: auto;
}

.sec2 a:hover{
    color: #fff;
    background-color: #30CD8A;
}

.sec3 div{
    margin: auto;
    text-align: center;
    max-width: 650px;
    padding: 90px 0;
}

/* Footer */

footer{
    background-color:   #363450;
;
}

footer div{
    max-width: 1440px;
    margin: auto;
    padding: 20px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 35px;
    color: white;
}

footer div a{
    color: white;
    text-decoration: none;
}

footer div a:hover{
    color: #000;
}

footer div ul{
    list-style: none;
    padding: 20px 0;
    display: grid;
    gap: 20px;
}

footer h2{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

footer div p{
    padding: 20px 0;
}

footer .copyright{
    color: #423B73;
    text-align: center;
    background-color: white;
    padding: 16px 0;
}